_site
# 삭제해도 상관없는, 아니 꼭 삭제해야하는 애플 숨김 파일
.DS_Store
__pycache__
._*
.*
*.pdf
*.pptx
*.png
*.csv
*.xls
*.xlsx
*.lock
*.toml
*.md

# 대외비
2차_*
## PubOrgComp
data

# 업무 중 불필요하다고 판단되는 내용
script
config/compare

# 아직 정리되지 않았기 때문에 임의로 업로드 금지한 내용
LICENSE
config/scraping

## Due to 22.Nov.2021   ## Once finished Nov, delete Nov.ipynb -> commit
reports
## check dependencies using poetry
dependency.txt

## module list, how to use, task['script'] flow
## scraping baseline from colab
script
